<section id="forget-password" class="wow fadeIn mt-4">
    <div class="container">
        <div class="card p-3 text-center">
        <div class="row w-100 mx-0 align-items-center">
                <div class="col-lg-5 my-3">
                    <img src="assets/imgs/logo.jpeg" class="img" alt="">
                    <h2 class="text-uppercase font-weight-bold">Announcement Application</h2>
                </div>
            <div class="col-lg-7 my-3">
                    <h2 class="font-weight-bold">Forget Password</h2>
                    <p>Enter your email that we can send you a recovery link.</p>
                    <form [formGroup]="forgetPasswordForm" (ngSubmit)="onForgetPassword(forgetPasswordForm.value)" class="mt-5">
                        <!-- Email -->
                        <mat-form-field appearance="fill" class="w-100 wow fadeIn">
                            <mat-label>Enter your registered email</mat-label>
                            <input matInput placeholder="Enter your registered email" type="email" required formControlName="email">
                            <!-- Email Validation -->
                            <mat-hint class="text-danger" *ngIf="forgetPasswordForm.controls.email.touched">
                                <span *ngIf="forgetPasswordForm.controls.email.errors?.required">
                                    This field is required!
                                </span>
                                <span *ngIf="forgetPasswordForm.controls.email.errors?.email">
                                    Invalid Email
                                </span>
                            </mat-hint>
                        </mat-form-field>
                        <!-- Password -->
                        <button class="btn btn-primary w-100 wow fadeIn mt-4">Send Reset Link</button>
                        <div class="w-100 my-4">
                            <a routerLink="/auth" class="link wow fadeIn">Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>