<section id="check-email" class="wow fadeIn">
        <div class="container">
            <div class="row w-100 mx-0">
                <div class="col-lg-5 mx-auto my-3">
                    <div class="card p-3 text-center">
                        <h2 class="text-uppercase font-weight-bold">Announcement</h2>
                        <img src="./assets/imgs/check-email.jpg" alt="check-email" class="img-fluid wow fadeIn" data-wow-delay=".5s">
                        <p class="wow fadeIn">Please check your email with the resent link to recover your password.</p>
                        <button class="btn btn-secondary w-100 wow fadeIn" routerLink="/auth">
                            Back to Login
                        </button>
                    </div>
                </div>
            </div>
        </div>
</section>