<section id="new-password" class="wow fadeIn mt-4">
  <div class="container">
    <div class="card p-3 text-center">
      <div class="row w-100 mx-0">
        <div class="col-lg-5 my-3">
          <img src="assets/imgs/logo.jpeg" class="img" alt="" />
          <h2 class="text-uppercase font-weight-bold">
            Announcement Application
          </h2>
        </div>
        <div class="col-lg-7 my-3">
          <h2 class="font-weight-bold">Reset Password</h2>
          <p>Enter your new password</p>
          <form
            [formGroup]="newPasswordForm"
            (ngSubmit)="onNewPassword()"
            class="mt-5"
          >
            <!-- Password -->
            <mat-form-field appearance="fill" class="w-100 wow fadeIn">
              <mat-label>Enter new password</mat-label>
              <input
                matInput
                placeholder="Enter new password"
                type="password"
                required
                formControlName="password"
              />
              <!-- Password Validation -->
              <mat-hint
                class="text-danger"
                *ngIf="newPasswordForm.controls.password.touched"
              >
                <span
                  *ngIf="newPasswordForm.controls.password.errors?.required"
                >
                  This field is required!
                </span>
                <span
                  *ngIf="newPasswordForm.controls.password.errors?.minlength"
                >
                  Please enter at least 6 characters
                </span>
              </mat-hint>
            </mat-form-field>
            <!-- Confirm Password -->
            <mat-form-field appearance="fill" class="w-100 wow fadeIn mt-3">
              <mat-label>Confirm password</mat-label>
              <input
                matInput
                placeholder="Confirm password"
                type="password"
                required
                formControlName="confirmPassword"
              />
              <!-- Password Validation -->
              <mat-hint
                class="text-danger"
                *ngIf="newPasswordForm.controls.confirmPassword.touched"
              >
                <span
                  *ngIf="
                    newPasswordForm.controls.confirmPassword.errors?.required
                  "
                >
                  This field is required!
                </span>
                <span
                  class="d-inline-block w-100"
                  *ngIf="
                    newPasswordForm.controls.confirmPassword.errors?.equalTo
                  "
                >
                  Passwords are not matched
                </span>
              </mat-hint>
            </mat-form-field>
            <!-- Submit -->
            <button class="btn btn-primary w-100 wow fadeIn mt-4">
              Save Changes
            </button>
            <div class="w-100 my-4">
              <a routerLink="/auth" class="link wow fadeIn">Login</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
